@using MANvFAT_Football.Helpers

@model MANvFAT_Football.Models.ChangePasswordModel


@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function ValidateInputs() {

        var OldPassword = $("#OldPassword");
        var NewPassword = $("#NewPassword");
        var ConfirmPassword = $("#ConfirmPassword");
        var status = true;

        if (OldPassword.val() == "") {

            var lblOldPasswordValidation = $("#lblOldPasswordValidation");
            OldPassword.css('background', '#FFE1EC');
            lblOldPasswordValidation.css('display', '');
            lblOldPasswordValidation.css('color', 'red');
            lblOldPasswordValidation.text('Old Password Required');
            status = false;
        }
        else {
            var lblOldPasswordValidation = $("#lblOldPasswordValidation");
            OldPassword.css('background', 'white');
            lblOldPasswordValidation.css('display', 'none');

            if (status == false) { }
            else
                status = true;
        }


        if (NewPassword.val() == "") {
//            alert("Im ahere NewPassword ");
            var lblNewPasswordValidation = $("#lblNewPasswordValidation");
            NewPassword.css('background', '#FFE1EC');
            lblNewPasswordValidation.css('display', '');
            lblNewPasswordValidation.css('color', 'red');
            lblNewPasswordValidation.text('New Password Required');
            status = false;
        }
        else {
            var lblNewPasswordValidation = $("#lblNewPasswordValidation");
            NewPassword.css('background', 'white');
            lblNewPasswordValidation.css('display', 'none');

            if (status == false) { }
            else
                status = true;
        }


        if (ConfirmPassword.val() == "") {
          //  alert("Im ahere ConfirmPassword ");
            var lblConfirmPasswordValidation = $("#lblConfirmPasswordValidation");
            ConfirmPassword.css('background', '#FFE1EC');
            lblConfirmPasswordValidation.css('display', '');
            lblConfirmPasswordValidation.css('color', 'red');
            lblConfirmPasswordValidation.text('Confirm Password Required');
            status = false;
        }
        else {
            var lblConfirmPasswordValidation = $("#lblConfirmPasswordValidation");
            ConfirmPassword.css('background', 'white');
            lblConfirmPasswordValidation.css('display', 'none');

            if (status == false) { }
            else
                status = true;
        }

        if (NewPassword.val() != ConfirmPassword.val()) {
          //  alert("Im ahere NewPassword <> ConfirmPassword ");
            var lblNewPasswordValidation = $("#lblNewPasswordValidation");
            NewPassword.css('background', '#FFE1EC');
            ConfirmPassword.css('background', '#FFE1EC');
            lblNewPasswordValidation.css('display', '');
            lblNewPasswordValidation.css('color', 'red');

            var lblConfirmPasswordValidation = $("#lblConfirmPasswordValidation");
            ConfirmPassword.css('background', '#FFE1EC');
            lblConfirmPasswordValidation.css('display', '');
            lblConfirmPasswordValidation.css('color', 'red');

            lblNewPasswordValidation.text('New and Confirm Password did not match');
            status = false;
        }
        else {
            var lblConfirmPasswordValidation = $("#lblConfirmPasswordValidation");
            ConfirmPassword.css('background', 'white');
            lblConfirmPasswordValidation.css('display', 'none');

            var lblNewPasswordValidation = $("#lblNewPasswordValidation");
            NewPassword.css('background', 'white');
            lblNewPasswordValidation.css('display', 'none');

            if (status == false) { }
            else
                status = true;
        }

        if (status) {
            $("#ChangePassword").submit();
        }

        else {
            return false;
        }


    }
</script>

<div class="divMain">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {

        <div class="text-danger col-sm-12" style="text-align:center;">
            @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        </div>
        <section>
            <div class="container">

                <div class="row">

                    <div class="col-md-6 col-md-offset-3 well">
                        <div class="box-static box-border-top margin-top-10 padding-30">
                            <div class="box-title margin-bottom-30">
                                <h3>Change Password</h3>
                            </div>
                            <br />
                            <form class="nomargin" method="post" action="#" autocomplete="off">
                                <div class="clearfix">

                                    <!-- Old Password -->
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control required", @placeholder = "Old Password", @required = "" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.OldPassword)</span>
                                    </div>

                                    <!-- New Password -->
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control required", @placeholder = "Password", @required = "" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required", @placeholder = "Password", @required = "" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-tip">
                                            @if (ViewData["status"] != null)
                                            {
                                                <h4 style="color:Green">@ViewData["status"].ToString() </h4>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-84 col-xs-84 text-right">
                                        <button class="btn btn-primary pull-right">Change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
</div>
