@model List<MANvFAT_Football.Models.Repositories.PlayerDashboardNotificationExt>

<ul id="achievements-list">

    @foreach (var item in Model)
    {
        <li>
            <div class="alert achievement bell alert-dismissible" id="">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="cursor:pointer;"  title="Click to Dismiss" onclick="return DismissNotification('@item.DashboardNotificationID')"><span aria-hidden="true">&times;</span></button>
                <h4>@item.Title</h4>
                <p>
                    @item.Summary
                    <br />
                    <a href="@item.Link" target="_blank">@item.Link</a>
                </p>
            </div>
        </li>
    }
</ul>